<html>
    <head>
        <title>Artists</title>

        <script language="javascript" type="text/javascript" src="../static/scripts/jquery-1.11.2.js"></script>
        <script language="javascript" type="text/javascript" src="../static/scripts/ajaxDataProvider.js"></script>
        <script language="javascript" type="text/javascript" src="../static/scripts/add_artist.js"></script>
    </head>
    <body>
        <div>New Artist:</div>
        <div>
            <table border="0" style="border:none">
                <tr>
                    <td><label>Name: </label></td>
                    <td><textarea id="txtName" style="height:20px; resize:none"></textarea></td>
                </tr>
            </table>
        </div>
        <div id="divFeedback"></div>
        <div>
            <button id="btnAdd">Add</button>
            <button id="btnCancel">Cancel</button>
        </div>
    </body>
 </html>