<html>
   <head>
       <script language="javascript" type="text/javascript" src="../static/scripts/jquery-1.11.2.js"></script>
       <script language="javascript" type="text/javascript" src="../static/scripts/echo2.js"></script>

       <title>Echo test</title>
   </head>
   <body>
       <div>Click button and tornado will answer you. (AJAX)</div>
       <button id="btnGetAnswer">GetAnswer</button>
       <button id="btnClear">Clear</button>
       <div id="divFeedback"></div>
   </body>
 </html>